*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    background-image: url(Img/blurred-blue-and-red-color-background-gradient-smooth-gradation-bright-design-template-concept-photo_526934-5971.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160vh;
    padding: 0px 70px;
  

}

.z{
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: bold;
    font-size: 20px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 100px;
    height: 100px;
    
}

.ul{
    display: flex;
    
}

.ul li{
    padding: 0 15px;
    list-style: none;
}

.ul li a{
    color:white;
    text-decoration: none;
}

.btn{
    padding: 10px 25px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.header_text{
    display: flex;
    // padding: 100px;
    justify-content: space-between;
    align-items: center;
}

.h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
}

.p{
    color: white;
    line-height: 25px;
}

.btn2{
    padding: 18px 30px;
    background: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
}

.img{
    margin-left: 20px;
}

.watch{
    margin-left: 5px;
    font-size: 15px;
    color: white;
}

.btn_pastga{
    gap: 10px;
    display: flex;
    align-items: center;
}


.o{
    text-align: center;
    color: white;
}

.we{
    text-align: center;
    color: white;
    line-height: 20px;
}

.header_card{
    width: 300px;
    height: 290px;
    border-radius: 34px;
    background: rgba(179, 172, 172, 0.096);   
    backdrop-filter:blur(10px);
    display:flex;
    gap: 180px;
}

.img2{
    margin: 0 125px;
    border-radius: 50%;

}

.h2{
    margin-left: 45px;
    font-size: 20px;
    color: white;
}

.p2{
    margin-left: 45px;
    line-height: 25px;
    color: white;

}

.header_{
    padding:0px 100px ;
}

.l{
    margin: 10px 50px;
    color: white;

}

.virtual{
    background-image: url(Img/blurred-blue-and-red-color-background-gradient-smooth-gradation-bright-design-template-concept-photo_526934-5971.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    padding: 0px 70px;
}

.virt{
    display: flex;
    gap: 50px;
    padding: 70px 0px;
}

.We{
    line-height: 33px;

}

.lor{
    line-height: 23px;
}

.gg{
    color: white;
}

.btn_3{
    padding: 10px 25px;
    background: rgb(147, 42, 245);
    border: none;
    border-radius: 5px;
    color: white;
}

.section_text{
    padding: 50px 0px;
}

.met{
    text-align: center;
    color: white;
    padding: 30px 0px;

}

.lara{
    text-align: center;
    color: rgba(255, 255, 255, 0.798);
    line-height: 23px;

}

.tugadi{
    background-image: url(Img/blurred-blue-and-red-color-background-gradient-smooth-gradation-bright-design-template-concept-photo_526934-5971.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 0px 70px;
}

.ss{
    color: black;
    text-align: center;
}

.rec{
    color: black;
    text-align: center;
}

.end{
    width: 1170px;
    height: 295px;
    border-radius: 34px;
    background: rgba(179, 172, 172, 0.096);   
    backdrop-filter:blur(10px);
}

input{
    border-radius: 70px;
    padding: 20px 350px;
    margin: 0px 155px;
    border: none;
    background: rgba(255, 249, 249, 0.096);   
    backdrop-filter:blur(10px);
}
